<ion-header  no-border [translucent]="true">
  <ion-toolbar color="dark"> 
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
    <ion-slides [options]="sliderOpts" *ngIf="dataLocalService.noticias.length===0">
      <ion-slide>
        <h1>No hay Favoritos</h1>
      </ion-slide>
    </ion-slides>
    <app-lista-noticias [articles]="dataLocalService.noticias" 
                        [favorito]="true"
                        *ngIf="dataLocalService.noticias.length!=0"></app-lista-noticias>
</ion-content>
